!!!
%html
  %head
    %title note
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css", :rel => "stylesheet"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          = link_to 'Home', root_path, class: 'btn btn-sm btn-info', method: :get
          -if user_signed_in?
            = link_to 'Sign out', destroy_user_session_path, class: 'btn btn-sm btn-danger', method: :delete
          -else
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-sm btn-info'
        %h3.muted= link_to "note", root_path
      %hr/
      = render partial: 'layouts/partials/messages'
      = yield
      %hr/
      .footer
        %p © Ab 2016 - Ruby on Rails
